@media(max-width:1440px){
    

    .checkbox {
        opacity: 0;
        position: absolute;
    }
    
    .label {
        background-color: #111;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.20em;
        position: relative;
        height: 26px;
        width: 45px;
        transform: scale(1.5);
        margin-left: 1.5em;
    }
    
    .label .ball {
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0.2em;
        
        left: 0em;
        height: 1.6em;
        width: 1.6em;
        transform: translateX(0.2em);
        transition: transform 0.2s linear;
    }
    
    .checkbox:checked + .label .ball {
        transform: translateX(1.4em);
    }
    
    
    .fa-moon {
        color: #f1c40f;
    }
    
    .fa-sun {
        color: #f39c12;
    }
    

    .menu {
        position: fixed;
        right: 1em;
        top: 9%;
        width: 10em;
       
        background-color: whitesmoke;
        border-radius: 2em 0px 0px 2em ;
        
      }




  li a{
      text-decoration: none;
      text-decoration-color: none;
      color: var(--text-color);
  }

  .menu li {
    padding: 0.5em;
    font-size: 16px;
    
    text-align: center;


  }
  
  span{
      color:black;
  }


  
}

