:root{
    --background-color: #EAAC8B;
    --text-color: black;
}

html{
    font-family: 'Brawler', serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6{
    font-size: 36px;
    color: var(--text-color);
    text-align: center;
}
.text{
    color: var(--text-color);
}

h1{
    font-size: 28;
    color: #fffffe;
}

p{
    font-size: 18;   
}

p{
    color: var(--text-color);
    font-size: 22px;

}
.apresentacao h1{
    
    text-align: center;
    margin: 1px 0;
}

section{
    
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.apresentacao{
    text-align: center;
}

.foto{
    height: auto;
    width: 350px;
    float: left;
    margin: 60px 20px 10px 0px;
}


label{
    color: var(--text-color);
}

fieldset{
    border-style: none;
}

form{
    
    margin-right: auto; 
    margin-left: auto;
    vertical-align: middle;
    margin: 40px;
}

form label {
    display:block;
    font-size: 20px;
    margin: 10px 0 10px;

}


form label, form legend {
    display:block;
    font-size: 20px;
    margin: 10px 0 10px;
    color: var(--text-color);
}

.input-padrao{
    border-radius: 8px;
    height: 35px;
    width: 500px;
    border: none;
}

.checkbox, .select{
    padding: 5px 10px;
    margin:0 0 10px;
}

.enviar{
    padding: 15px 32px;
    border-radius: 5px;
    font-size: 20px;
    background: white;
    border: none;
    
}

.enviar:hover{
    background: white;
}

ul{
    list-style-type: none;
}


