:root{
    --background-color: #EAAC8B;
    --text-color: black;
    --dark-color: #355070;
    --dark-p-color: #FFFFFF;
}

html{
    font-family: 'Brawler', serif;
    background-color: var(--background-color);
}

h1 {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

h2 {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}


.text{
    color: var(--text-color);
}



p{
    font-size: 18;   
}

p{
    color: var(--text-color);
    font-size: 22px;

}
.apresentacao h1{
    
    text-align: center;
    margin: 1px 0;
}

section{
    
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.apresentacao{
    text-align: center;
}

.foto{
    height: auto;
    width: 200px;
    float: left;
    margin: 0px 20px 10px 0px;
}


label{
    color: var(--text-color);
}

fieldset{
    border-style: none;
}

form{
    
    margin-right: auto; 
    margin-left: auto;
    vertical-align: middle;
    margin: 40px;
}

form label {
    display:block;
    font-size: 20px;
    margin: 10px 0 10px;

}


form label, form legend {
    display:block;
    font-size: 20px;
    margin: 10px 0 10px;
    color: var(--text-color);
}

.input-padrao{
    border-radius: 8px;
    height: 35px;
    width: 500px;
    border: none;
}

.checkbox, .select{
    padding: 5px 10px;
    margin:0 0 10px;
}

.enviar{
    padding: 15px 32px;
    border-radius: 5px;
    font-size: 20px;
    background: white;
    border: none;
    cursor: pointer;
}

.enviar:hover{
    background: white;
}

ul{
    padding: 0;
    list-style-type: none;
}

.carrossel{
   
    margin-bottom: 10px;
}

.carrossel img{
   margin: 10px;
}

.dark{
    background: var(--dark-color);
    
}

.dark p{
    color: var(--dark-p-color);

}



.dark form label{
    color: var(--dark-p-color);
}

.dark form legend{
    color:var(--dark-p-color);
}


#input-dark-mode{
    display: none;
}

#luz{
    margin: 0 0 0 5px;
    width: 4%;
    height: auto;
    cursor: pointer;
}


.modalMoni{
    width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	align-items: center;
	background: rgba(0, 0, 0, .5);
	display: none;
	box-align: center;
    justify-content: center;
    
}

.modalAtelie{
    width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	align-items: center;
	background: rgba(0, 0, 0, .5);
	display: none;
	box-align: center;
    justify-content: center;
    
}




.show{
    display: flex;
}

.atelie {
    background: white;
	width: 80%;
	min-width: 300px;
	padding: 10px;
    border: 10px solid var(--background-color);
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    
}

.moni {
    background: white;
	width: 80%;
	min-width: 300px;
	padding: 10px;
    border: 10px solid var(--background-color);
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    
}

@keyframes moni {from { opacity:0;
	transform: translate3d(0, -60px, 0);
}

to {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
}

.show .moni {
	animation: moni .3s;
}




@keyframes atelie {from { opacity:0;
	transform: translate3d(0, -60px, 0);
}

to {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
}

.show .atelie {
	animation: atelie .3s;
}


.cabecalhoModal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bodyModal {
    display: inline-block;
    text-align: center;
}



.bodyModal img{
    
    width: 30%;


}

.dark #moni{
    background: var(--dark-color);
}

td{
    width: 100vh;
    
    padding: 25px;
}

#atelieImg{
    
    width: 110%;
}

.close{
    padding: 15px 32px;
    border-radius: 5px;
    font-size: 20px;
    background: white;
    border: none;
    cursor: pointer;
}

.dark #atelie{
    background: var(--dark-color);
}